<!-- banking/templates/banking/index.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Bank Management</title>
</head>
<body>
    <h1>Welcome to Bank Management System</h1>
    <ul>
        <li><a href="{% url 'create_account' %}">Create Account</a></li>
        <li><a href="{% url 'perform_transaction' %}">Perform Transaction</a></li>
        <li><a href="{% url 'view_balance' %}">View Balance</a></li>
        <li><a href="{% url 'login' %}">Login</a></li>
        <li><a href="{% url 'register' %}">Register</a></li>
    </ul>
</body>
</html>
